extends template/template

block main
  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="https://koode.mx/wp-content/uploads/2017/10/imac-1507738617.png", alt="Página Web - koode3")
    .content-sections__container
      .content-sections__body
        h2.content-sections__title Página Web koode3
        p.content-sections__description Lista en 7 días #[span.font-pink ·] Todo incluido
        p.content-sections__price $#[span.font-pink 2],#[span.font-pink 899].#[span.font-pink 00]mxn*
        .content-sections__btn
          a.content-sections__link(href="#") Ver etalles

  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="https://koode.mx/wp-content/uploads/2017/10/macbook-air-front-2-1507668550.png", alt="Web Negocios - Koode5")
    .content-sections__container
      .content-sections__body
        h2.content-sections__title Web Negocios Koode5
        p.content-sections__description Para Empresas #[span.font-pink ·] Lista en 9 días
        p.content-sections__price $#[span.font-pink 5],#[span.font-pink 990].#[span.font-pink 00]mxn*
        .content-sections__btn
          a.content-sections__link(href="#") Ver etalles

  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="https://koode.mx/wp-content/uploads/2017/10/imac-4-variant-1-1507654508.png", alt="Tienda en Línea - koode7")
    .content-sections__container
      .content-sections__body
        h2.content-sections__title Tienda en Línea Koode7
        p.content-sections__description Hasta 64 productos
        p.content-sections__description Acepta todas las tarjetas
        p.content-sections__price $#[span.font-pink 11],#[span.font-pink 899].#[span.font-pink 00]mxn*
        .content-sections__btn
          a.content-sections__link(href="#") Ver etalles
  section.content-sections--parallax
    h3.parallax__title Servidor Listo en 45 Minutos $#[span.font-orange . ]
    p.content-sections__description--parallax Después de realizar tu pago, recibirás un correo con los accesos al panel tu nuevo sitio web.
    .content-sections__btn--parallax
      a.content-sections__link(href="#") Desde $2,899mxn

  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="https://koode.mx/wp-content/uploads/2017/10/webp.net-gifmaker.gif", alt="Demos")
    .content-sections__container
      .content-sections__body
        h2.content-sections__title Más de 150 demos
        p.content-sections__title--font-pink Funcionales 
        p.content-sections__description Plantillas Listas para Contenido
        .content-sections__btn
          a.content-sections__link(href="#")

  section.content-sections--price-list
    h2.price-list__title--price-list Planes #[span.font-orange ·] Costos
    ul.price-list__list
      li.price-list__item Inicial Koode3
      li.price-list__item #[sup.price-list__strong $]2,899 <sub>Mxn <br> Al año</sub>
      li.price-list__item #[strong.price-list__strong Dominios] .com o .com.mx
      li.price-list__item Instalación de #[strong.price-list__strong Wordpress]
      li.price-list__item Hospejade #[strong.price-list__strong KOODE512], con 3 cuentas de correo 
      li.price-list__item Hasta #[strong.price-list__strong 18 fotos] (proporcionadas por el cliente)
      li.price-list__item Páginas: #[strong.price-list__strong Inicio, Nuestra Empresa,  Contacto]
      li.price-list__item #[strong.price-list__strong 20 días] de actualizaciones (no estructurales)
      li.price-list__item Tiempo de entrega: #[strong.price-list__strong 7 días] habiles
      li.price-list__item Sitio totalmente responsivo para #[strong.price-list__strong dispositivos móviles]
      li.price-list__item #[strong.price-list__strong Sorporte WhatsApp] en horarios de oficina
      li.price-list__item: a.price-list__link(href="#") Contratar
    ul.price-list__list
      li.price-list__item Negocios Koode5
      li.price-list__item #[sup.price-list__strong $]5,990 <sub>Mxn <br> Al año</sub>
      li.price-list__item #[strong.price-list__strong Dominios] .com .com.mx o .mx
      li.price-list__item Plataforma #[strong.price-list__strong Jupiter 5-WordPress]
      li.price-list__item Hospedaje #[strong.price-list__strong KOODE1GB], con 9 cuentas de correo
      li.price-list__item Hasta #[strong.price-list__strong 36 fotos de stock]
      li.price-list__item Páginas: #[strong.price-list__strong Inicio, Nuestra Empresa, Contacto, Servicios, Productos]
      li.price-list__item #[strong.price-list__strong 90 días] de actualizaciones(no estructurales)
      li.price-list__item Tiempo de estrega: #[strong.price-list__strong 9 días] hábiles
      li.price-list__item Sitio totalmente responsivo para #[strong.price-list__strong dispositivos móviles]
      li.price-list__item #[strong.price-list__strong Sorporte WhatsApp] 12/7/365
      li.price-list__item #[strong.price-list__strong Formulario de Contacto] Básico 5 campos
      li.price-list__item Galería de productos y servicos
      li.price-list__item: a.price-list__link(href="#") Contratar
    ul.price-list__list
      li.price-list__item Tienda en Línea Koode7
      li.price-list__item #[sup.price-list__strong $]5,990 <sub>Mxn <br> Al año</sub>
      li.price-list__item #[strong.price-list__strong Dominios] .com .com.mx o .mx
      li.price-list__item Plataforma #[strong.price-list__strong Jupiter 5-WordPress]
      li.price-list__item Hospedaje #[strong.price-list__strong KOODE2GB], con 17 cuentas de correo
      li.price-list__item #[strong.price-list__strong Tienda en Línea] de hasta 64 productos
      li.price-list__item Páginas: #[strong.price-list__strong Inicio, Contacto, Tienda, Carrito, Finalizar Compra] 
      li.price-list__item #[strong.price-list__strong 12 meses] de actualizaciones (no estructurales)
      li.price-list__item Tiempo de entrega: #[strong.price-list__strong 14 días] habiles
      li.price-list__item Sitio totalmente responsivo para #[strong.price-list__strong dispositivos móviles]
      li.price-list__item #[strong.price-list__strong Sorporte WhatsApp] 12/7/365
      li.price-list__item #[strong.price-list__strong Formulario de Contacto] Básico 5 campos
      li.price-list__item #[strong.price-list__strong Galería] de productos y servicos
      li.price-list__item Implementación de #[strong.price-list__strong Analytics]
      li.price-list__item Plan integral de #[strong.price-list__strong desarrollo de contenido]: Textos, revisión ortográfica y correción de estilo
      li.price-list__item: a.price-list__link(href="#") Contratar
