extends template/template

block main
  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="#", alt=" #")
    .content-section__container
      .content-sections__body
        h2.content-sections__title
        p.content-sections__description
        p.content-sections__price
        .content-sections__btn
          a.content-sections__link(href="#")

  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="#", alt=" #")
    .content-section__container
      .content-sections__body
        h2.content-sections__title
        p.content-sections__description
        p.content-sections__price
        .content-sections__btn
          a.content-sections__link(href="#")

  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="#", alt=" #")
    .content-section__container
      .content-sections__body
        h2.content-sections__title
        p.content-sections__description
        p.content-sections__price
        .content-sections__btn
          a.content-sections__link(href="#")
  section.content-sections--parallax
    h3.parallax__title
    p.content-sections__description--parallax
    .content-sections__btn--parallax
      a.content-sections__link(href="#")

  section.content-sections
    figure.content-sections__fig
      img.content-sections__img(src="#", alt=" #")
    .content-section__container
      .content-sections__body
        h2.content-sections__title
        p.content-sections__description
        p.content-sections__price
        .content-sections__btn
          a.content-sections__link(href="#")
  section.content-sections--price-list
    h2.price-list__title--price-list
    ul.price-list__list
      li.price-list__item
    ul.price-list__list
      li.price-list__item
    ul.price-list__list
      li.price-list__item
