footer(class='main-footer')
      div(class='section-container')
        section(class='main-footer__section')
          figure(class='main-footer__logo')
            img(class='main-footer__img', href='https://koode.mx/wp-content/uploads/2017/05/koodegris-1.png')
          p(class='main-footer__description') KOODE MX Hacemos Web en México.
        section(class='main-footer__section')
          nav(class='main-footer__nav')
            h3(class='main-footer__title') MAPA DEL SITIO
            ul(class='main-footer__nav-list')
              li(class='main-footer__item')
                a(class='main-footer__link',href="#") KOODE MX Páginas Web
              li(class='main-footer__item')
                a(class='main-footer__link',href="#") Nosotros
              li(class='main-footer__item')
                a(class='main-footer__link',href="#") Servicios
              li(class='main-footer__item')
                a(class='main-footer__link',href="#") Contacto
              li(class='main-footer__item')
                a(class='main-footer__link',href="#") Tienda
              li(class='main-footer__item')
                a(class='main-footer__link',href="#") Mi Cuenta
              li(class='main-footer__item')
                a(class='main-footer__link',href="#") Carrito
        section(class='main-footer__section')
          h3(class='main-footer__title')
          figure(class='main-footer__container')
            img(class='main-footer__img',src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c205.0.669.669/26066989_1584590838299773_1651397208571904000_n.jpg", alt="intagram.png")
            img(class='main-footer__img',src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c135.0.810.810/26181279_1411979458908462_205886172231106560_n.jpg", alt="intagram.png")
            img(class='main-footer__img',src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c205.0.669.669/25022257_385400791899031_8640779540131479552_n.jpg", alt="instagram")
            img(class='main-footer__img',src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c180.0.719.719/25036924_152619192048898_2335729320099577856_n.jpg", alt="intagram.png")
        section(class='main-footer__section')
          h3(class='main-footer__title--social') ¡Siguenos!
          div(class='social-container')
            a(class='social__link',href="#")
              i(class='flaticon-facebook-logo-button') 
            a(class='social__link',href="#")
              i(class='flaticon-social-instagram-circle')
            a(class='social__link',href="#")
              i(class='flaticon-pinterest-logotype-circle')
            a(class='social__link',href="#")
              i(class='flaticon-twitter-logo-button')
      footer(class='section-container')
        small 2017
          |Hecho en
          address México
          |con 
          i(class='flaticon-favorite-heart-button')
          |por 
          a(class='main-footter__link',href='https://koode.mx/') KOODE MX
