header(class='main-header')
      figure(class='logo-web')
        a(class='logo-web__link')
          img(class='logo__img', src='https://koode.mx/wp-content/uploads/2017/05/logokoodemx1024x450.png', height='90')

      nav(class='main-nav')
        ul(class='main-menu')
          li(class='main-menu__item')
            a(class='main-menu__link' href="#") Páginas Web
          li(class='main-menu__item')
            a(class='main-menu__link' href="#") Proyectos
            ul(class='main-menu--sub-menu')
              li(class='main-menu__item--sub-menu')
                a(class='main-menu__link--sub-menu', href='#') Páginas Web
          li(class='main-menu__item')
            a(class='main-menu__link' href="#") Servicios
            ul(class='main-menu--sub-menu')
              li(class='main-menu__item--sub-menu')
                a(class='main-menu__link--sub-menu', href='#') Hosting cPanel
              li(class='main-menu__item--sub-menu')                
                a(class='main-menu__link--sub-menu', href='#') Dominios            
          li(class='main-menu__item')
            a(class='main-menu__link' href="#") Contacto
      div(class='shopping-cart')
        a(class='shopping-cart__link')
          span(class='shopping-cart__counter')