head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="https://koode.mx/wp-content/uploads/2017/05/faviconkoode-1.png", type="image/x-icon")
    include includes/stylessheets
    title KOODE